JWT_PRIVATE_KEY_USER=c9c5f5_goldpriceupdate_5552985d2c9_end
EXPRESS_SESSION_SECRET=0x123fa9610ddh34525552985d2c9c5f5d312c965cdcf
PORT=5000
MONGODB_URL=mongodb+srv://codepadding:4wIhkhULFoJJjUKS@datadocx.64hzrop.mongodb.net/?retryWrites=true&w=majority
# MONGODB_URL=mongodb://127.0.0.1:27017/
DB_NAME=goldpriceupdate